<div class="page">	
	<div class="container">
		<div class ="row-fluid">
			<div class ="span10 offset1">
			<h1>A Living History of the Modern Tibetan Diaspora</h1>
			<p>Where's Tibet is a platform for Tibetans around the world to share their experiences as a refugee in a foreign land. In doing so, we hope to trace the modern day Tibetan voice in all its permutations. Where's Tibet gives Tibetans the opportunity to explore what life might be like in a difference community. And it gives non-Tibetans who can not travel the opportunity to experience stories of exile firsthand. </p>
			<p>If you are interested in contributing a personal anecdote, click on the Add Yourself link above.</p>
			<br><br><br>
			<p>Questions or concerns? Email Ananta at <%= link_to 'adp2134@columbia.edu', "mailto: adp2134@columbia.edu"%>.  If you are looking for information on privacy, Check out our <%= link_to 'privacy policy', "/privacy"%> and <%= link_to 'terms of service', "/tos"%>.</p>
			</div>
		</div>
	</div>
</div>