<div class="container">
	<div class ="page">
		<h1>A Living History of the Tibetan Diaspora</h1>
		<p>We started by asking Tibetans a simple question: How would you describe your life to someout outside of your geographic community?</p>
		<br><br><br>
		<p>Interested in privacy? Check out our <%= link_to 'privacy policy', "/privacy"%>.</p>
	</div>
</div>