<div class="container">
	<div class ="page">
		<div id="privacy" class="container ng-scope">
<div class="row-fluid">
<div class="span12">
<h1>Privacy Policy</h1>
<h5>Your privacy is critically important to us.</h5>
<p> If, at any point you have questions about deleting or correcting your personal data please contact the site moderator (adp2134@columbia.edu)
</p>
<p>
Below is our official privacy policy: (Note, this privacy policy is available under a Creative Commons Sharealike license, and was originally created by Automattic.com)
</p>
<p>
Where's Tibet Inc. ("Where's Tibet") operates WheresTibet.com. It is Where's Tibet's policy to respect your privacy regarding any information we may collect while operating our websites.
</p>
<h2>Website Visitors</h2>
<p>
Like most website operators, Where's Tibet collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Where's Tibet's purpose in collecting non-personally identifying information is to better understand how Where's Tibet's visitors use its website. From time to time, Where's Tibet may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
</p>
<p>
Where's Tibet also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on WheresTibet.com. Where's Tibet only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.
</p>
<h2>Gathering of Personally-Identifying Information</h2>
<p>
Certain visitors to Where's Tibet's websites choose to interact with Where's Tibet in ways that require Where's Tibet to gather personally-identifying information. The amount and type of information that Where's Tibet gathers depends on the nature of the interaction. For example, we ask visitors who sign up for an account at WheresTibet.com to an email address. Those who engage in transactions with Where's Tibet are asked to provide additional information. In each case, Where's Tibet collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with Where's Tibet. Where's Tibet does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.
</p>
<h2>Aggregated Statistics</h2>
<p>
Where's Tibet may collect statistics about the behavior of visitors to its websites. Where's Tibet may display this information publicly or provide it to others. However, Where's Tibet does not disclose personally-identifying information other than as described below.
</p>
<h2>Protection of Certain Personally-Identifying Information</h2>
<p>
Where's Tibet discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Where's Tibet's behalf or to provide services available at Where's Tibet's websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Where's Tibet's websites, you consent to the transfer of such information to them. Where's Tibet will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, Where's Tibet discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when Where's Tibet believes in good faith that disclosure is reasonably necessary to protect the property or rights of Where's Tibet, third parties or the public at large. If you are a registered user of an Where's Tibet website and have supplied your email address, Where's Tibet may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what's going on with Where's Tibet and our product. We primarily use our product blog to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Where's Tibet takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.
</p>
<h2>Business Transfers</h2>
<p>
If Where's Tibet, or substantially all of its assets, were acquired, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of Where's Tibet may continue to use your personal information as set forth in this policy.
</p>
<h2>Privacy Policy Changes</h2>
<p>
Although most changes are likely to be minor, Where's Tibet may change its Privacy Policy from time to time, and in Where's Tibet's sole discretion. Where's Tibet encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
</p>
<br>
Last Updated: July 1, 2013
</div>
</div>
</div>
	</div>
</div>