/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-responsive
 *= require jquery.fancybox
 *= require_self
 *= require_tree .
 */

html { 
	height: 100%;
}
body{ 
	height: 100%; 
	margin:0px; 
	padding:0px;
	background-image:url('background.png');
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
label{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
.brand:hover {
  background-color: transparent;
}

.container{
	height:100%;

}
.page{
	padding-top:70px;
	padding-bottom:70px;
}
#map-canvas { 
	height: 100%; 
	width:100%; 
	position:relative; 
	margin-top:40px; 
	padding:0px;
}
#form-outer{
	margin: 0;
    padding: 0;
    text-align: center;
}
#form-centered{
	left:50%;
	text-align: left;
	margin-right: auto; margin-left: auto; width: 545px;
}
body h1, body h2, body h3, body h4{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	color: #666;
	font-size: 35px;
}
body h2 {
	color: #888;
	font-size: 25px;
}
body p{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 18px;
	color: #555555;
	line-height: 1.5em;
}
body a, body a:visited{
	color: #A5BFDD;
}
body a:hover{
	background-color: transparent;
	color:#FF7C70;
	text-decoration: none;
}
div#privacy h1, div#tos h1{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	color: #FF7C70;
	font-size: 35px;
}

div#privacy h2, div#tos h2{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	color: #A5BFDD;
	font-size: 25px;
}
@media (max-width: 1080px) {
	html { 
		height: 100%;
	}
	body{
		height: 100%; 
		margin:0px;
		width:100%;
		padding:0px;
	}
	body .navbar-fixed-top {
		margin-bottom: 0px;
	}
	.container{
		margin-left:30px;
		margin-right:30px;
	}
  	#map-canvas { 
		height: 100%; 
		width:100%; 
		position:relative; 
		margin-top:0px; 
		padding:0px;

	}
	p{
		font-size:8px;
	}
}